<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.w2a.Utilities.TestListners"></listener>
	</listeners>
	
	<test name="AndroidTest">
		<parameter name="platform" value="android"></parameter>
		<classes>
			<class name="com.w2a.android.testcases.LoginTests" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
